  
  .stats-box {
    /* max-width: 30%; */
    display: flex;
    padding: 0 2rem;
    gap: 2rem;
    margin-left: 165px;
    margin-bottom: 100px;
  }
  
  .stat{
    text-align: center;
    padding: 20px;
    width: 19rem;
    height: 8rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .stats-box img {
    width: 4rem;
    height: 4rem;
    margin-bottom: 10px;
  }
  
  .box-content {
    color: #333;
    font-weight: 500;
  }
  
 .box-text{
  color: rgb(90, 90, 90);
 }